{% extends 'sidemenu_layout.html' %}


{% block menu_content %}

<div class="container-fluid">

  <!-- Page Header Starting -->
  <div class="row page-header pageHeaderContainer">
    <div class="col-md col-sm-12">
      <h5 class="page_heading">{{pageData.page_title}}</h5>
    </div>
  </div>
  <!-- Page Header Ending -->


  <!-- Page Body Starting -->
  <div class="row">
    <div class="col d-flex">
      <h2 class="m-auto" style="padding-top: 150px;"><b>You have no permissions on this page</b></h2>
    </div>
  </div>
  <!-- Page Body Ending -->

</div>

{% endblock %}