<style>
  
    @font-face{
      font-family: Lato-Regular;
      src: url('/static/fonts/Lato-Regular.ttf');
    }
  
    body{
      font-family: Lato-Regular;
      font-size: 12px;
    }
  
    .page_header{
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      margin: 0.5rem 0px;
    }
  
    .strip{
      background-color: #428bca;
      border-bottom: 1px solid black !important;
    }
    .strip-yellow{
      background-color: #fffb09;
      border-bottom: 1px solid black !important;
    }
    table, th, td {
      border: 1px solid #dee2e6;
      border-collapse: collapse;
      padding: 4px 2px;
    }
    thead tr th{
      border-bottom: 1px solid black; 
      border-collapse: separate; 
      border-spacing: 5px 5px;
    } 
    th {
      font-weight: normal;
    }
  
    tr.group {
      background-color: #c5e0ff;
    }
  
  </style>